<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229272733178-uf10rp7fj6vm2db3oh9qdl3snbs9ulps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229272733178-uf10rp7fj6vm2db3oh9qdl3snbs9ulps</string>
	<key>API_KEY</key>
	<string>AIzaSyCfH1wlon1ZBJN5Oqeke_xKLHKdQ__qzds</string>
	<key>GCM_SENDER_ID</key>
	<string>229272733178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosproject.StudyPal</string>
	<key>PROJECT_ID</key>
	<string>newstudypalapp</string>
	<key>STORAGE_BUCKET</key>
	<string>newstudypalapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229272733178:ios:8e7e6929cf3bbce510d043</string>
</dict>
</plist>